<style type="text/css">
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 16px;
    font-size: 18px;
}

section {
    margin: 80px 0 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.banner {
    background: url(img/jana.jpg);
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}

.banner-title {
    position: relative;
    z-index: 1;
}

.banner .subtitulo {
    margin-bottom: 36px;
}

.banner .botao {
    background-color: rgb(255, 182, 231);
    color: rgb(134 59 94);
    padding: 15px 25px;
    border-radius: 30px;
}

.sobre .titulo-sobre {
    margin-bottom: 20px; 
}

.sobre .titulo-sobre .tt {
   font-size: 30px;
   color: #863b5e;
}

.sobre .box-sobre {
    display: flex;
    justify-content: space-between;
}

.sobre .box-sobre-desc {
    width: 65%;
}

.sobre .box-sobre-desc p {
    line-height: 21px;
    color: #864865;
}

.sobre .box-sobre-desc .botao-sobre {
    display: inline-flex;
    background-color: white;
    border: 2px solid #863b5e;
    color:#863b5e;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 25px;
    font-weight: 400;
    transition: .2s ease-in-out;
}

.sobre .box-sobre-desc .botao-sobre:hover {
    background-color: rgb(255, 182, 231);
    color: #863b5e;
}

.sobre .sobre-habilidades {
    width: 300px;
    color: rgb(143, 143, 143);
    padding: 25px 25px;
    border-radius: 5px;
    position:relative;
    background-color: #ffb6d8;
    height:auto;
}

.sobre .sobre-habilidades:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 278px;
    height: 280px; 
    margin-bottom: 16px;
}

.sobre .sobre-habilidades .tt {
    font-size: 20px;
    color: white;
    text-align: center;
}

.sobre .sobre-habilidades .lista {
    list-style: none;
    margin-left: 1px;
    position: relative;
}

.sobre .sobre-habilidades .lista li:before {
    content: 
    position: relative;
    left: -10px;
}

.sobre .sobre-habilidades .lista li {
    padding: 7px 0;
    color: #863b5e;
}
.redes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;  
}

.redes-links {
    color: #863b5e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffb6d8;
    width: 275px;
    height: 180px;
    border-radius: 3px;
}

.redes-links__img {
    margin-bottom: 10px;
    height: 45px;
    margin-bottom: 20px;
}

.redes-links__titulo {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}

.titulo-redes h1 {
    color: #ffb6d8;
    text-align: center;
}


</style>

